<template>
    <lightning-card class="slds-table_bordered">
        <h3 slot="title">
            <lightning-icon icon-name="standard:email" size="small"></lightning-icon> &nbsp;
            Email
        </h3>
        <lightning-button class="slds-float_right" variant="brand" label="Compose Mail" onclick={handleComposeEmail}>
        </lightning-button></br>
        <lightning-datatable class="slds-border_top, slds-border_right, slds-border_bottom, slds-border_left"
            data={data} columns={columns} key-field="Id" sorted-by={sortBy} sorted-direction={sortDirection}
            onsort={doSorting}>

        </lightning-datatable>
        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_3-of-3">
                <span>
                    <br>
                    <lightning-button class="slds-float_right" size="3" variant="brand" label="Compose Mail"
                        onclick={handleComposeEmail}></lightning-button>
                </span>
            </div>
        </div>
        <template if:true={isModalOpen}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            title="Close" onclick={handlecloseModal}>
                            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                                size="small">
                            </lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">New Message
                        </h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <lightning-layout-item padding="around-small" size="6">
                            <lightning-input type="text" placeholder="example@.com" label="Cc" name="ccAddress"
                                onchange={inputhandler}></lightning-input>
                            <lightning-input type="text" placeholder="example@.com" label="Bcc" name="bccAddress"
                                onchange={inputhandler}></lightning-input>
                            <div>
                                <lightning-input type="text" label="Subject" name="subject" onchange={inputhandler}>
                                </lightning-input>
                                <lightning-textarea name="body" class="tallTextArea" required="true"
                                    onchange={inputhandler}></lightning-textarea>

                            </div>


                        </lightning-layout-item>
                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer">
                        <div class="slds-align_absolute-center">
                            <lightning-button label="Cancel" onclick={cancelHandler}></lightning-button> &nbsp;
                            <lightning-button variant="brand" label="Send" onclick={sendMailHandler}></lightning-button>

                        </div>

                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </lightning-card>

</template>